
 {
   background-color: #B8B2B2;
 }
 


 /*.col-md-12
 {
 	background:url(../PRACTICA6/fondoencabezado.jpg);
 	height="60px" width="60px";
 }
 
}
.PiedePag
{
	background-image: url("fondofinal.jpg")
}*/
